$color-background-header: #E01B1A;
$color-background-content: #F1F1F1;

.workstation-admin {
  background: $color-background-content;
  width: 100%;
  height: 100%;

  .workstation-admin-header {
    height: 100px;
    background: $color-background-header;
    display: flex;
    justify-content: space-between;
    color: white;

    .workstation-admin-header-name {
      font-size: 40px;
      font-weight: bold;
      font-family: Calibri;
      font-style: italic;
      padding: 25px;
      margin-left: 50px;
    }

    .workstation-admin-header-workstation-name {
      font-size: 40px;
      font-weight: bold;
      font-family: Calibri;
      font-style: italic;
      padding: 25px 0;
    }

    .workstation-admin-header-employee-name {
      font-size: 40px;
      font-weight: bold;
      font-family: Calibri;
      font-style: italic;
      padding: 25px 0;
    }

    .workstation-admin-header-button-logout {
      margin-right: 50px;
      margin-top: 25px;
      border-radius: 10px;
      width: 150px;
      height: 50px;
      font-weight: bold;
      font-size: 25px;
    }

  }

  .workstation-admin-content {
    height: 82%;
    display: flex;

    .workstation-admin-content-menu {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-right: solid 3px white;
      width: 14%;
      height: 100%;
      background: #cec4c4;

      .workstation-admin-content-menu-button {
        padding: 15px 0px 15px 25px;
        border-radius: 20px;
        background: white;
        border: solid 1px black;
        font-size: 25px;
        font-weight: bold;
        margin: 10px 0;
      }

      .defaultButton {
        background: white;
        color: black;
      }

      .selectButton {
        background: #E01B1A;
        color: white;
      }
    }

    .workstation-admin-content-body {
      height: 100%;
      width: 100%;
    }
  }

  .workstation-admin-footer {
    background: $color-background-header;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;

    .workstation-menu-footer-button-start {
      background: #52c938;
    }

    .workstation-menu-footer-button-wait {
      background: #e6ed28;
    }

    .workstation-menu-footer-button-end {
      background: #d18c8c;
    }

    button {
      margin-left: 50px;
      margin-top: 8px;
      padding: 30px;
    }

  }
}