$color-background-button: white;
$color-text-button: black;
$color-border-button: #DDD;
$color-background-left-half: #E01B1A;

.selectWorkstationButton {
  box-sizing: border-box;
  background: $color-background-button;
  border-radius: 10px;
  padding: 5px 20px;
  border: 2px solid $color-border-button;

  h2 {
    font-family: Calibri;
    font-size: 1.6em;
    color: $color-text-button;
  }
}

.selectWorkstationButton:hover {
  background: $color-background-left-half;
  h2 {
    font-family: Calibri;
    font-size: 1.6em;
    color: white;
  }
}