$color-background-header: #E01B1A;
$color-background-content: #F1F1F1;

.workstation-menu {
  background: $color-background-content;
  width: 100%;
  height: 100%;
  position: relative;

  .workstation-menu-header {
    height: 100px;
    background: $color-background-header;
    display: flex;
    justify-content: space-between;

    color: white;

    .workstation-menu-header-name {
      font-size: 40px;
      font-weight: bold;
      font-family: Calibri;
      font-style: italic;
      padding: 25px;
      margin-left: 50px;
    }

    .workstation-menu-header-workstation-name {
      font-size: 40px;
      font-weight: bold;
      font-family: Calibri;
      font-style: italic;
      padding: 25px 0;
    }

    .workstation-menu-header-employee-name {
      font-size: 40px;
      font-weight: bold;
      font-family: Calibri;
      font-style: italic;
      padding: 25px 0;
    }

    .workstation-menu-header-button-logout {
      margin-right: 50px;
      margin-top: 25px;
      border-radius: 10px;
      width: 100px;
      height: 50px;
    }

  }

  .workstation-menu-content {
    .workstation-menu-content-info {

      margin-left: 70px;
      margin-top: 20px;

      h2 {
        font-size: 30px;
      }

      .table, th, td {
        border: 1px solid;
        font-size: 20px;
      }

      th:first-child {
        padding: 0 5px;
        text-align: left;
      }

      th:last-child {
        padding: 0 5px;
        text-align: left;
      }

      .workstation-menu-content-info-table {

      }
    }
  }

  .workstation-menu-footer {
    background: $color-background-header;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;

  }
}